$blue-font-light: #e6f4f9;
$blue-lighter: #d9eaf2;
$blue-light: #afd3e2;
$blue: #19a7ce;
$blue-dark: #146c94;
$blue-darker: #0c3f5b;
$blue-font: #04052c;

$green-lighter: #b6efbb;
$green-ligth: #78c296;
$green: #499576;
$green-dark: #276847;
$green-darker: #0e3b27;

$red-lighter: #f5d7ef;
$red-light: #c988b1;
$red: #96496b;
$red-dark: #661932;
$red-darker: #4d0a19;
